body{
     background: linear-gradient(135deg),#b22222 0%, #8b0000 100%;
    padding: 40px;
    font-family: serif;
    min-height: 100vh;
    margin: 0;
}
h1.titre-principal{
    color: #8b0000;
    font-family: "Garamond","Georgia",serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: 10px;
    margin-top: 60px;
    width: 100%;
    display: block;
    text-shadow: 1px 1px 3px rgba(0,0,0,0,0.1);
}
.form-container{
    background: radial-gradient(circle,#fffdf0 0%,#fdf5e6 100%);
    border-left: 8px solid#ffd700;
    border-right: 8px solid #ffd700;
    box-shadow: 0px 10px 30px rgba(0,0,0,0,0.5);
    border-radius: 5px;
    padding: 40px;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}
h3{
    color: #003366;
    text-align: center;
    font-size: 1.5rem;
    border-bottom: 2px solid #ffd700;
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    padding-bottom: 10px;
}
p{
    color: #333;
    line-height: 1.6;
    text-align: justify;
    font-size: 1.1rem;
}
.date{
    color: #b22222;
    font-style: italic;
    font-weight: bold;
    float: right;
}